.mainButton{
   color: white;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
}

#yesButton{
    background-color: green;
}

#noButton{
    background-color: rgb(184, 35, 9);
}

#fontDownload{
    background-color: green;
}

.subButtonWhatsApp{
    color: white;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    background-color: greenyellow;
    border-color: yellowgreen;
}

.subButtonFb{
    color: white;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    background-color:navy;
}

p{
    color: rgb(25, 7, 141);
    font-size: larger;
    font-weight: bolder;
    text-shadow: 2px 2px 8px #fd0000;
}

select{
    height: 50px;
    width: 400px;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    background-color:rgb(188, 188, 220);
    text-indent: 10px;
}
